.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24%;
  height: 96%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
}